@model FileServerDashboard.Models.ViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Processor</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@Model.CpuUsage.ToString("#.##")<text>%</text></h1>
                    <div class="stat-percent font-bold text-success">@Model.CpuUsage.ToString("#.##")<text>%</text> <i class="fa fa-bolt"></i></div>
                    <small>CPU Usage</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Memory</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@Model.MemoryUsage</h1>
                    <div class="stat-percent font-bold text-success">@Model.CpuUsage.ToString("#.##")<text>%</text> <i class="fa fa-bolt"></i></div>
                    <small>Memory Usage</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Disk</h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div class="flot-chart-pie-content" id="storage-pie-chart"></div>
                    </div>
                    <div class="stat-percent font-bold text-success">@Model.UsedArray.ToString("#.##")<text>TB</text> / @Model.TotalArray.ToString("#.##")<text>TB</text> <i class="fa fa-bolt"></i></div>
                    <small>Disk Usage</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Movies</h5>
                </div>
                <div class="ibox-content" style="height: 300px; overflow-x: hidden; overflow-y: scroll">
                    @foreach (var movie in Model.MovieNames)
                    {
                        <span>@movie</span><br />
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>TV Shows</h5>
                </div>
                <div class="ibox-content" style="height: 300px; overflow-x: hidden; overflow-y: scroll">
                    @foreach (var tvShow in Model.TVShowNames)
                    {
                        <span>@tvShow</span><br />
                    }                
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Photos</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@Model.NumberOfPhotos</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script>
    $(document).ready(function () {

        var data = [{
            label: "Free Space",
            data: @Model.FreeArray,
            color: "#79d2c0",
        }, {
            label: "Used Space",
            data: @Model.UsedArray,
            color: "#bababa",
        }];

        var plotObj = $.plot($("#storage-pie-chart"), data, {
            series: {
                pie: {
                    show: true
                }
            },
            grid: {
                hoverable: true
            },
            tooltip: true,
            tooltipOpts: {
                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            }
        });
    })
</script>
}